mixin alert-success(time)
    - if (message.success)
        .message.info
            div(
                class="alert alert-success"
                show-alert
                data-time=time
            ) #{message.success} <span close-alert>x</span> 


mixin alert-error(time)
    - if (message.error)
        .message.info
            div(
                class="alert alert-danger"
                show-alert
                data-time=time
            ) #{message.error} <span close-alert>x</span> 