.sider
    .inner-menu
        ul
            li 
                a(href=`/${prefixAdmin}/dashboard`) Tổng Quan
            li 
                a(href=`/${prefixAdmin}/topics`) Quản Lí Chủ Đề
            li 
                a(href=`/${prefixAdmin}/songs`) Quản Lí Bài Hát
            li 
                a(href=`/${prefixAdmin}/singers`) Quản Lí Ca Sĩ
            li 
                a(href=`/${prefixAdmin}/role/permission`) Phân Quyền
            li 
                a(href=`/${prefixAdmin}/accounts`) Tài Khoản User
            li 
                a(href=`/${prefixAdmin}/user`) Tài Khoản Admin
            li 
                a(href=`/${prefixAdmin}/settings/general`) Cài Đặt Chung